.
*.*~
*.sdf
*.opensdf
*.suo
*.bak

/HelloVulkan/Tegra-Android/*

/Tegra-Android/Debug/HelloVulkan.apk
/Tegra-Android/Debug/libHelloVulkan.so
/Tegra-Android/Debug/stripped_libHelloVulkan.so
/*.opendb
/HelloVulkan.VC.db
